* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f4f4f4;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 100;
}

.navbar-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #2c3e50;
}

.navbar-menu {
    display: flex;
    gap: 30px;
}

.navbar-menu a {
    font-weight: 600; 
    font-size: 16px;
    color: #555;
    padding: 8px 12px;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #e74c3c;
}


.dropdown-content {
    display: none;
    position: absolute;
}